.header__logo {
  margin: 0 auto;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 36px;
  width: 142px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    width: 103px;
    margin-top: 28px;
    margin-left: 27px;
    margin-bottom: 27px;
  }
}
