.popup__container {
  margin: 0 auto;
  padding: 0;
  height: 330px;
  width: 430px;
  background-color: #ffffff;
  border-radius: 10px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .popup__container {
    width: 400px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .popup__container {
    width: 282px;
  }
}
