.form__input {
  margin: 0 auto;
  padding: 0;
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .form__input {
    width: 238px;
  }
}
